//daily_serve.scss

.meal_name {
  text-align: center;
  color: #3cc51f;
  font-weight: 400;
}

.meal_menu {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.dish_li {
  width: 100%;
}

.dish_type {
  margin-left: 10%;
}

.dish_name {
  right: 13%;
  position: absolute;
}
